.buttonContainer {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  .buttonContainer button,
  .buttonContainer a {

    // display: inline-flex;
    // height: 3rem;
    // padding: 0.875rem 1rem;
    width: 100%;
    font-weight: 500;
    // justify-content: center;
    // align-items: center;
   color: var(--background-container) !important;
   background-color: var(--dark-blue);
    // border: 0 solid var(--border-gray);
    // box-sizing: border-box;
    // outline: none;
    // transition: all 0.2s;
  //background-color: #007fff;
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; 
  transition: all 200ms ease;
  cursor: pointer;
  box-shadow: 0 4px 20px 0 rgba(61, 71, 82, 0.1), 0 0 0 0 rgba(0, 127, 255, 0);
  border: none;
  }
  
  .buttonContainer button:hover{
    background-color: var(--mui-blue);
  }
  
  .buttonContainer a:hover{
    background-color: var(--text-blue-light) !important;
  }
  
  .buttonFit {
    width: fit-content !important;
    padding: 0 2.5rem;
  }
  
  .buttonSpin {
    animation: spin 3s infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .buttonSpinTwo {
    animation: spin 3s infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }