.cogDatePicker {
    padding: 0.5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-weight: 500;
    display:flex;
    width: 30vw;
}
.container {
    width: 100%;
    display: grid;
}

.cogSeries{
    width : 5vw;   
}
